@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: "Open Sans", sans-serif;
    background: #2f2841;
}

#menu-h ul{
   list-style: none; 
   padding: 0;
   background-color: rgb(99, 65, 116);
}

#menu-h ul li {
    display: inline;
}

#menu-h ul a{
    color: color: #77FFC0;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    
}

#menu-h ul a:hover{
    background-color: rgb(50, 63, 63);
    
}

#menu-h ul li:last-child a {
    float: right;
    background-color: aqua;
}